body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background: url('beach.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    padding: 20px;
}

.calculator {
    margin: 50px auto;
    max-width: 300px;
    background-color: rgba(0, 0, 0, 0.7); /* Add a semi-transparent background for readability. */
    border: 2px solid #333;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}

#calculator-title {
    font-size: 36px;
    text-transform: uppercase;
    margin: 10px 0;
    color: #ff6600;
    text-shadow: 0 0 5px #ff3300, 0 0 10px #ff3300, 0 0 15px #ff3300;
}

#display {
    width: 100%;
    height: 50px;
    font-size: 24px;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.7); /* Use the same semi-transparent background for the display. */
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

button {
    width: 100%;
    height: 60px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: #0077cc;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s;
}

.copyright {
    font-size: 20px;
    color: #000000;
    margin-top: 10px;
}

button:hover {
    background-color: #0055aa;
}
